$fullwidthflex: 0 0 92%;

$dark-jungle-green: rgba(0, 15, 8, 1);
$pine-green: rgba(19, 111, 99, 1);
$citrine: rgba(224, 202, 60, 1);
$coquelicot: rgba(243, 66, 19, 1);
$russian-violet: rgba(62, 47, 91, 1);

$bg: white;
$bg-alt: $pine-green;
$primary: $coquelicot;
$accent: $russian-violet;
$textcolor: $dark-jungle-green;
$textcolor-alt: $citrine;
