@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
ul li a {
  padding: 1rem 2rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 0.65);
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom-style: none;
}

#layout {
  margin: 0 auto;
  display: grid;
}
#layout grid {
  gap: 1rem;
}
#layout .main article.col-1 {
  grid-column-end: span 1;
}
#layout .main article.col-2 {
  grid-column-end: span 2;
}
#layout .main article.col-3 {
  grid-column-end: span 3;
}
#layout .main article.col-4 {
  grid-column-end: span 4;
}
#layout .main article.col-5 {
  grid-column-end: span 5;
}
#layout .main article.col-6 {
  grid-column-end: span 6;
}
#layout .main article.col-7 {
  grid-column-end: span 7;
}
#layout .main article.col-8 {
  grid-column-end: span 8;
}
#layout .main article.col-9 {
  grid-column-end: span 9;
}
#layout .main article.col-10 {
  grid-column-end: span 10;
}
#layout .main article.col-11 {
  grid-column-end: span 11;
}
#layout .main article.col-12 {
  grid-column-end: span 12;
}

nav ul li a, h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 3px 3px 2px #ecff85, -3px 3px 2px #85dcff, 0px 2px #ff70a6ff, -6px 2px #ffa785;
  font-family: "Major Mono Display", monospace;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  margin: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 25, 36, 0.87);
  text-transform: capitalize;
  margin: 0;
}

#layout {
  width: auto;
}

code {
  margin: 0;
  font-family: "courier", monospace;
  white-space: pre-wrap;
  font-size: 12px;
}

header {
  margin-top: 2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.65);
}
header h1 {
  display: inline;
  letter-spacing: 1rem;
}

nav ul {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}
nav ul li {
  display: inline;
  list-style: none;
}
nav ul li.selected a {
  background: #70d6ffff;
  background: linear-gradient(41deg, #f0fbff, #fdfff0, #fdfff0);
  text-transform: capitalize;
  text-shadow: 3px 3px 2px #ecff85, -3px 3px 2px #85dcff, 3px -3px 2px rgba(255, 133, 179, 0.92), -3px -3px 2px #ffa785;
}
nav ul li a {
  padding: 1rem 2rem;
  color: black;
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
  border: 2px solid rgba(0, 0, 0, 0.65);
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom-style: none;
}

.main {
  margin-top: 1rem;
}
.main article {
  margin-top: 2rem;
}
.main article:nth-child(odd) div {
  transform: rotate(-0.75deg);
}
.main article:nth-child(odd) div div {
  transform: rotate(1deg);
}
.main article:nth-child(odd) div div > * {
  transform: rotate(-0.25deg);
}
.main article:nth-child(even) div {
  transform: rotate(0.75deg);
}
.main article:nth-child(even) div div {
  transform: rotate(-1deg);
}
.main article:nth-child(even) div div > * {
  transform: rotate(0.25deg);
}
.main article .color-scheme span {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 1rem;
  display: inline-block;
}
.main article ul {
  padding-left: 0;
  list-style: none;
}
.main article h2 {
  margin-top: 0;
}
.main article div {
  display: flex;
  padding: 0;
}
.main article div div {
  display: block;
  width: 100%;
  padding: 2rem;
  position: relative;
  z-index: -1;
  margin: -0.25rem;
}
.main article div div img {
  margin-top: 1rem;
  width: 100%;
}
.main article:nth-child(4n+0) div {
  border: none;
  background: #ff9770ff;
  background: linear-gradient(0deg, #ffe1d6, #f9ffd6, #f9ffd6);
}
.main article:nth-child(4n+0) div div {
  background: none;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(112, 214, 255, 0.9);
}
.main article:nth-child(4n+1) div {
  border: none;
  background: #ff9770ff;
  background: linear-gradient(41deg, #ffe1d6, #d6f3ff, #f9ffd6);
}
.main article:nth-child(4n+1) div div {
  background: none;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 214, 112, 0.9);
}
.main article:nth-child(4n+2) div {
  border: none;
  background: #70d6ffff;
  background: linear-gradient(82deg, #d6f3ff, #d6f3ff, #a3e5ff);
}
.main article:nth-child(4n+2) div div {
  background: none;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 207, 87, 0.9);
}
.main article:nth-child(4n+3) div {
  border: none;
  background: #ff9770ff;
  background: linear-gradient(123deg, #ffe1d6, #ffd6e5, #f5fcff);
}
.main article:nth-child(4n+3) div div {
  background: none;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 112, 166, 0.9);
}

footer {
  margin-top: 1rem;
}

.no-margin {
  margin: 0;
}

@media (min-width: 1050px) {
  header,
.main {
    grid-column: span 2;
    display: grid;
  }

  #layout {
    min-width: 880px;
    width: 1050px;
  }

  nav ul li + li {
    margin-left: 0.5rem;
  }
  nav ul li a {
    display: inline;
  }

  .main {
    grid-gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr;
  }
  .main article {
    display: flex;
    border-radius: 5px;
    margin-top: 0;
    grid-column-end: span 4;
  }
  .main article:nth-child(odd) div {
    transform: rotate(-1.875deg);
  }
  .main article:nth-child(odd) div div {
    transform: rotate(2.5deg);
  }
  .main article:nth-child(odd) div div > * {
    transform: rotate(-0.625deg);
  }
  .main article:nth-child(even) div {
    transform: rotate(1.875deg);
  }
  .main article:nth-child(even) div div {
    transform: rotate(-2.5deg);
  }
  .main article:nth-child(even) div div > * {
    transform: rotate(0.625deg);
  }
  .main article:nth-child(1) {
    grid-column-end: span 4;
  }
  .main article:nth-child(2) {
    grid-column-end: span 8;
  }
  .main article div {
    border-radius: 5px;
  }
  .main article div div img {
    width: 100%;
  }

  header h1 {
    margin: 0;
  }
  header nav {
    grid-column: 2/3;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    display: flex;
  }
}

/*# sourceMappingURL=main.css.map */
