:root{
    --unit:                #{$unit};
    --base-font-size:      #{$base-font-size};
    --border-width:        #{$base-border-width};
    --font-color:          #{$font-color};
    --secondary-color:     #{$secondary-color};
    --accent-primary:      #{$accent-primary};
    --accent-secondary:    #{$accent-secondary};
    --accent-tertiary:     #{$accent-tertiary};
    --accent-quaternary:   #{$accent-quaternary};
    --column-count:        #{$column-count};
    --listItemSpanMargin:  #{$lipadding};
    --font:                #{$font-stack};
    --heading-font:        #{$heading-font-stack};
    --code-font:           #{$code-font-stack};
}
