// Grid global settings
//*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*//

#layout {
    margin: 0 auto;
    display: grid;
    grid {
        gap: $unit;
    }
    // Creates utility classes for grid columns
    .main {
        @for $i from 1 through $grid-column-count {
            article.col-#{$i} {
                grid-column-end: span $i;
            }
        }
    }
}
