// extend class
%headingFontStyle {
    text: {
        shadow: $text-shadow-style;
    }
    font: {
        family: $heading-font-stack;
    }
}

body,
html {
    padding: 0;
    margin: 0;
    font: {
        size: $base-font-size;
        family: $font-stack;
    }
}

body {
    margin: $unit * 2;
}

*, ::before, ::after{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: color.scale(darken($accent-primary, 65%), $alpha: -13%); // sass function used
    text-transform: capitalize;
    margin: 0;
    // Extend is used here
    @extend %headingFontStyle;
}

#layout {
    width: auto;
}

code {
    margin: 0;
    font: {
        family: $code-font-stack;
    }
    white-space: pre-wrap;
    font-size: 12px;
}

header {
    margin-top: 2 * $unit;
    h1 {
        display: inline;
        letter-spacing: $unit;
    }
    border: {
        bottom: $border-style;
    }
}

nav {
    ul {
        padding: 0;
        margin: 0;
        margin-top: $unit;
        li {
            display: inline;
            list-style: none;
            &.selected  {
                a {
                    // mixin use
                    @include gradient(41deg, 25%, ($accent-primary, $accent-tertiary, $accent-tertiary));
                    text-transform: capitalize;
                    text-shadow: $link-text-shadow-style;
                }
            }
            a {
                // Extend is used here
                @extend %headingFontStyle;
                padding: $unit 2 * $unit;
                color: black;
                display: block;
                font: {
                    weight: bold;
                }
                text: {
                    decoration: none;
                    transform: lowercase;
                }
                border: $border-style {
                    radius: $unit / 4 $unit / 4 0 0;
                    bottom: {
                        style: none;
                    }
                }
            }
        }
    }
}

// lots of nesting demonstrated here
main {
    margin: {
        top: $unit;
    }
    article {
        // mixin used
        @include rotator(0.5deg);

        .color-scheme span {
            width: $unit;
            height: $unit;
            border-radius: 50%;
            margin-right: $unit;
            display: inline-block;
        }
        ul {
            padding-left: 0;
            list-style: none;
        }
        h2 {
            margin-top: 0;
        }

        div {
            display: flex;
            padding: 0;
            div {
                img {
                    margin-top: $unit;
                    width: 100%;
                }
                display: block;
                width: 100%;
                padding: $unit * 2;
                position: relative;
                z-index: -1;
                margin: 0 -$unit * 0.25;
            }
        }

        margin-top: $unit * 2;

        $backgroundSelectors: 
            "4n + 0" ($light-salmon, $mindaro, $mindaro) $accent-primary,
            "4n + 1" ($accent-quaternary, $baby-blue, $accent-tertiary) $accent-secondary,
            "4n + 2" ($baby-blue, $baby-blue, darken($baby-blue, 10%)) darken($orange-yellow-crayola, 5%), // SASS Built in function used
            "4n + 3" ($accent-quaternary, $french-pink, lighten($baby-blue, 6%)) $french-pink; // SASS Built in function used

        // Create a sequence of background for n*0th, n*1th, n*2th, n*3th articles
        $i: 0;
        $overrideBorderColor: null;
        // loop example
        @each $nSelector, $bgColor, $borderColor in $backgroundSelectors {
            &:nth-child(#{$nSelector}) {
                div {
                    border: none;
                    @include gradient(41deg * $i, 20%, $bgColor);
                    div {
                        background: none;
                        border: {
                            width: 2px;
                            style: solid;
                        }
                        // if / else
                        @if ($overrideBorderColor) {
                            border-color: $overrideBorderColor;
                        } @else {
                            // SASS Built in function used
                            border-color: color.scale($borderColor, $alpha: -10%);
                        }
                    }
                }
            }
            $i: $i + 1;
        }
    }
}

footer {
    margin: {
        top: $unit;
    }
}

.no-margin {
    margin: 0;
}
