@include mediaQuery($site-width) {
    header,
    .main {
        grid-column: span 2;
        display: grid;
    }

    #layout {
        min-width: 880px;
        width: $site-width;
    }

    nav {
        ul {
            li {
                & + li {
                    margin-left: $unit / 2;
                }
                a {
                    display: inline;
                }
            }
        }
    }

    .main {
        grid-gap: $unit * 1.5;
        grid-template: {
            columns: repeat($grid-column-count, 1fr);
            rows: auto 1fr;
        }
        article {
            @include rotator(1.25deg);
            display: flex;
            border-radius: 5px;
            margin-top: 0;
            @each $n in 1, 2 {
                &:nth-child(#{$n}) {
                    grid-column-end: span $n * 4;
                }
            }
            grid-column-end: span 4;
            div {
                border-radius: 5px;
                div {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    header {
        h1 {
            margin: 0;
        }
        nav {
            grid-column: 2 / 3;
            ul {
                display: flex;
                li {
                    display: flex;
                }
            }
        }
    }
}
