body, html{
    padding: 0;
    margin: 0;
    font: {
        family: $font-stack;
    }
}

h1, h2, h3, h4, h5, h6{
    font: {
        family: $heading-font-stack;
    }
}

header{ 
    margin-top: 2 * $unit;
    h1{ 
        display: inline;
    }
    border: {
        bottom: 1px solid black;
    }
}

ul{
    padding: 0; 
    margin: 0;
    li{
        display: inline;
        list-style: none;
        a{

        }
    }
}