@media (min-width: 880px) {
    $columnCount: 2;
    $halfPoint: ($columnCount / 2 + 1);
    %fullWidth {
        grid-column: {
            start: 1;
            end: $columnCount + 1;
        }
    }

    %firstHalfWidth {
        grid-column: {
            start: 1;
            end: $halfPoint;
        };
    }

    %secondHalfWidth { 
        grid-column: $halfPoint / $columnCount + 1;
    }

    footer, header, .main {
        display: grid;
        @extend %fullWidth;
    }
   
    section {
        grid-gap: $unit * 1.5;
        grid-template: {
            /* The VS Code linter doesn't like this, but it does compile properly into CSS */
            columns: repeat(6, 1fr);
            rows: auto 1fr;
        }

        article {
            h2{
                text-transform: uppercase;
                letter-spacing: 3px;
            }
            border: $border-style;
            align-self: center;
            &:first-child{
                grid-column-end: span 3;
            }

            &:nth-child(2){
                grid-column-end: span 3;
            }
            grid-column-end: span 2;
    
        }
    }
    header {
        h1 {
            margin: 0;
        }

        nav {
            @extend %secondHalfWidth;
            ul {
                display: flex;
                li {
                    display: flex;
                }
            }
        }
    }
}
