@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap');

$primary-color: black;
$secondary-color: white;
$accent-color: blue;

$font-stack: 'IBM Plex Sans', sans-serif;
$heading-font-stack: 'Lato', sans-serif;

$unit: 1rem;