// Colors 

$teal: #00c4c7;
$pink: #c80060;
$orange: #cc8850;

$primary-color: $teal;
$secondary-color: $pink;
$accent-color: $orange;
$dark-primary-color: $primary-color;

$font-stack: 'Niconne', cursive;
$standard-space: 1rem;
$heading-fonts: $font-stack;

$border-radius: 0.625rem;